# Both in API and Worker
SQLAlchemy==2.0.43
psycopg[binary]==3.2.10
pgvector==0.4.1
boto3==1.40.32
botocore==1.40.32
pydantic==2.11.9
pydantic-settings==2.10.1
python-dotenv==1.1.1


# Web framework
fastapi==0.116.1
uvicorn[standard]==0.35.0   # includes httptools, websockets, watchfiles

# Data & DB
SQLAlchemy
psycopg-binary
pgvector

# S3/MinIO
boto3
python-multipart==0.0.20

# Config
pydantic
pydantic-settings
python-dotenv

# Migrations
alembic==1.16.5

# Task Queue
celery[redis]==5.3.6

# OCR
pytesseract==0.3.10
pymupdf==1.24.10
Pillow==10.4.0
numpy==2.1.0

